<ion-header color="primary" >
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>My Family Members</ion-title>
        </ion-navbar>
      </ion-header>


<ion-content>
    <ion-grid>
      <button ion-item *ngFor="let user of users" (click)="userTapped(user)" 
      [hidden]="!(admin === true  || user.active === true)">
      <ion-row>
         <ion-col>
             <div>
                <img src={{user.downloadbleUrl}} style="height: 100px; width: 100px; border-radius: 50%; object-fit: cover;"/>
             </div>
         </ion-col>   
         <ion-col>
            <div class="status" style="float: right;">
                <br>
                {{user.firstName}} {{user.lastName}}
                <br>
                {{user.gender}}
                <br>
                {{user.type}}
                
                <p *ngIf='admin === true'>Active : {{user.active}}</p>
            </div>
          </ion-col>
          <ion-col>
            <div style="text-align: center; padding-top: 10px;">
              <ion-icon name={{getIconName(user.status)}} color={{getColorName(user.status)}}></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </button>
    </ion-grid>
    <ion-item ion-item *ngIf="admin===true">
        <button ion-button full round color="primary" (click)="addNewMember()">
          <span style="padding-right: 10px;">Add New Member </span>
          <ion-icon name="arrow-round-forward" style="font-size: 20px;"></ion-icon>
        </button>
    </ion-item>    
  </ion-content>