<ion-header >
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Request Details </ion-title>
        </ion-navbar>
    </ion-header>
    <ion-content  padding>
        <apartmentname></apartmentname>
        <ion-grid>
          <ion-row>
              <ion-col style="text-align: center;"><span style="font-weight: bold;">{{request.subject}}</span></ion-col>
          </ion-row>
          <hr>
          <ion-row>
            <ion-col col-1><ion-icon name="barcode" color='primary'></ion-icon></ion-col>
            <ion-col col-4>Request Id</ion-col>
            <ion-col col-7>{{request.requestId}}</ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-1><ion-icon name="calendar" color='primary'></ion-icon></ion-col>
              <ion-col col-4>Creation Date</ion-col>
              <ion-col col-7>{{request.creationDate}}</ion-col>
          </ion-row>    
          <ion-row>
              <ion-col col-1><ion-icon name="document" color='primary'></ion-icon></ion-col>
              <ion-col col-4>Description</ion-col>
              <ion-col col-7>{{request.description}}</ion-col>
          </ion-row>   
          <ion-row>
             <ion-col col-1><ion-icon name="contact" color='primary'></ion-icon></ion-col>
              <ion-col col-4>Requestor</ion-col>
              <ion-col col-7>{{request.requestor}}</ion-col>
          </ion-row>  
          <ion-row>
              <ion-col col-1><ion-icon name="stats" color='primary'></ion-icon></ion-col>
              <ion-col col-4>Flat</ion-col>
              <ion-col col-7>{{request.flat}}</ion-col>
          </ion-row>            
          <ion-row>
              <ion-col col-1><ion-icon name="help-buoy" color='primary'></ion-icon></ion-col>
              <ion-col col-4>Status</ion-col>
              <ion-col col-7>{{request.status}}</ion-col>
          </ion-row>
          <ion-row *ngIf="request.status==='done'">
                <ion-col col-1><ion-icon name="calendar" color='primary'></ion-icon></ion-col>
              <ion-col col-4>Resolved Date</ion-col>
              <ion-col col-7>{{request.resolvedDate}}</ion-col>
          </ion-row>  
 
          <ion-row>
            <ion-col>
                    <rating-comp [readonly]="rateReadOnly" [rating]="request.rating" 
                    [closingRemark]="request.closingRemark" (ratingChanged)="ratingChanged($event)"
                    (closingRemarkChanged)="closingRemarkChanged($event)"></rating-comp>
            </ion-col>
          </ion-row>   
          <ion-row *ngIf="request.status==='open'">
                <button ion-button full round color="primary" (click)="onResolved()" style="height: 2.5rem;">
                  <span style="padding-right: 10px;">Resolved </span></button>
          </ion-row>                                                                           
        </ion-grid>
        
    </ion-content>