<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name={{p.icon}} class="mainIcon" ></ion-icon> <span style="padding-left: 10px; text-align: center;">{{p.title}}</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<div *ngIf="showSplash" class="splash">
  <div class="spinner"></div>
</div>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
